:root {
  --tv-color-platform-background: #003000 !important;
  --tv-color-pane-background: #000a00 !important;
  --tv-color-pane-background-secondary: #003000;
  --tv-color-toolbar-button-background-expanded: #098200 !important;
  --tv-color-toolbar-button-background-hover: #003000;
  --tv-color-toolbar-button-background-secondary-hover: #098200;
  --tv-color-toolbar-button-background-expanded: white;
  --tv-color-toolbar-button-text: #8b968c !important;
  --tv-color-toolbar-button-text-hover: white;
  --tv-color-toolbar-button-text-active: white;
  --tv-color-toolbar-button-text-active-hover: white;
  --tv-color-item-active-text: white;
  --tv-color-toolbar-toggle-button-background-active: #003000;
  --tv-color-toolbar-toggle-button-background-active-hover: #098200;
  --ui-lib-intent-color: #098200;
  --ui-lib-intent-highlight-color: #098200;
  --tv-list-item-button-background-hover-color: #098200;
}
button[class*="actionButton"] {
  background-color: #098200 !important;
  color: white !important;
  border: 0 !important;
}
button[class*="actionButton"]:hover {
  background-color: #003000 !important;
}
/* Hide compare option */
div[class*="toolbar"] div[class*="wrap"] > div[class*="group"]:nth-child(2) {
  display: none;
}
div[class*="container"] div[class*="selected"],
div[class*="container"] div[class*="selected"]:hover {
  background-color: #003000 !important;
}
div[class*="dialog"],
div[class*="menuWrap"] {
  background-color: #000a00;
  border: 1px solid #098200;
}
div[data-value] {
  background-color: #000a00;
  /* border-right: 1px solid #098200;
  border-left: 1px solid #098200; */
}
div[class*="dialog"] div[data-role="list-item"]:hover {
  background-color: #098200;
}
div[class*="dialog"],
div[data-role="list-item"] span,
div[class*="title"],
span[class*="title"],
span[class*="close"],
div[class*="text"],
span[class*="label"],
span[class*="value"],
div[class*="header"],
span[class*="icon"],
span[class*="themesButtonIcon"],
span[class*="arrowIcon"],
div[data-value] {
  color: white !important;
}
.tv-floating-toolbar span[class*="icon"] {
  color: #8b968c !important;
}

span[class*="close"]:hover {
  background-color: #098200;
}
div[class*="fadeTop"] {
  background-image: linear-gradient(0deg, #fff0, #098200);
}
div[class*="fadeBot"] {
  background-image: linear-gradient(180deg, #fff0, #098200);
}
div[class*="fadeRight"] {
  background-image: linear-gradient(to right, #fff0, #098200);
}
div[class*="fadeLeft"] {
  background-image: linear-gradient(to left, #fff0, #098200);
}

/* Hide Heikin Ashi candle style option and separator */
div[data-value="ha"],
div[data-name="menu-inner"] div[class*="separator"] {
  display: none;
}

div[class*="item"],
div[data-name="menu-inner"] div[data-name] {
  background-color: #000a00;
  color: white;
}
/* Hover states */
span[class*="favorite"]:hover,
div[class*="button"]:hover,
span[class*="button"]:hover,
div[class*="isActive"],
tr[class*="item"]:hover,
tr[class*="hovered"],
div[class*="item"]:hover,
div[data-name="menu-inner"] div[data-name]:hover {
  background-color: #003000 !important;
  color: white;
}

span[class*="themesButtonText"] {
  color: white;
}

div[class*="disabled"],
tr[class*="disabled"] {
  background-color: transparent !important;
}

/* Chart save input */
span[class*="container"],
span[class*="intent-primary"] {
  border: 1px solid #098200 !important;
  --ui-lib-intent-color: #098200 !important;
  --ui-lib-intent-highlight-color: #098200 !important;
  outline: none !important;
}
span[class*="container"] input {
  color: white;
}

div[data-name="legend"],
div[data-name="legend"] * {
  background-color: transparent !important;
}

div[data-name="legend"] div[class*="item"] {
  background-color: transparent !important;
}

.js-button-text,
.js-button-text:hover {
  background-color: transparent !important;
}
