:root {
  --tv-color-platform-background: #003000 !important;
  --tv-color-pane-background: #000a00 !important;
  --tv-color-pane-background-secondary: #003000;
  --tv-color-toolbar-button-background-expanded: #098200 !important;
  --tv-color-toolbar-button-background-hover: #098200;
  --tv-color-toolbar-button-background-secondary-hover: #098200;
  --tv-color-toolbar-button-background-expanded: white;
  --tv-color-toolbar-button-text: #8b968c !important;
  --tv-color-toolbar-button-text-hover: white;
  --tv-color-toolbar-button-text-active: white;
  --tv-color-toolbar-button-text-active-hover: white;
  --tv-color-item-active-text: white;
  --tv-color-toolbar-toggle-button-background-active: #098200;
  --tv-color-toolbar-toggle-button-background-active-hover: #098200;
}
body {
  border: 1px solid #003000;
  border-radius: 4px;
}
div[data-name="legend"] {
  transform: translateY(50px);
}
div[class*="dialog"] {
  background-color: #000a00;
  border: 1px solid #098200;
}
div[class*="dialog"] div[data-role="list-item"]:hover {
  background-color: #098200;
}
div[class*="dialog"],
div[data-role="list-item"] span,
div[class*="title"],
span[class*="title"],
span[class*="close"],
div[class*="text"] {
  color: white !important;
}

span[class*="close"]:hover {
  background-color: #098200;
}
div[class*="fadeTop"] {
  background-image: linear-gradient(0deg, #fff0, #098200);
}
div[class*="fadeBot"] {
  background-image: linear-gradient(180deg, #fff0, #098200);
}
div[class*="fadeRight"] {
  background-image: linear-gradient(to right, #fff0, #098200);
}
div[class*="fadeLeft"] {
  background-image: linear-gradient(to left, #fff0, #098200);
}
