.BuyMYCMLP {
    justify-content: space-between;
}

.BuyMYCMLP-container {
    padding: 3rem 0 2rem 0;
    width: 100%;
}

.BuyMYCMLP-container .section-title-content {
    justify-content: flex-start;
}

.BuyMYCMLP.page-layout .footer {
    padding: 1rem 2rem;
}

@media (max-width: 400px) {
    .BuyMYCMLP-container {
        padding-left: 16px!important;
        padding-right: 16px!important;
    }
}

