.Tab.block {
  display: grid;
  grid-auto-flow: column;
  font-size: 0.9rem;
  border-radius: 3px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--backround-primary);
}

.Tab-option-icon {
  margin-right: 0.3rem;
  opacity: 0.7;
}

.Tab.block .Tab-option {
  text-align: center;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid var(--cell-stroke);
  transition: all 0.3s ease;
  white-space: nowrap;
}

.Tab.block .Tab-option:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Tab.block .Tab-option:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Tab.block .Tab-option:hover {
  color: rgba(255, 255, 255, 1);
  background-color: var(--action-hover);
}

.Tab.block .Tab-option.active {
  opacity: 1;
  pointer-events: none;
  background: var(--action-active);
  border-color: var(--action-active);
  color: rgba(255, 255, 255, 1);
}

.Tab.block .Tab-option.active .Tab-option-icon {
  opacity: 1;
}

.Tab.inline .Tab-option {
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
}

.Tab.inline .Tab-option:hover {
  opacity: 0.8;
}

.Tab.inline .Tab-option.active {
  opacity: 1;
  pointer-events: none;
  color: var(--text-primary);
}
