:root {
  /* --tv-color-platform-background: #000240 !important;
  --tv-color-pane-background: #000240 !important;
  --tv-color-pane-background-secondary: #000240;
  --tv-color-toolbar-button-background-hover: #3da8f5;
  --tv-color-toolbar-button-background-secondary-hover: #3da8f5;
  --tv-color-toolbar-button-background-expanded: #005ea4;
  --tv-color-toolbar-button-text: #3da8f5;
  --tv-color-toolbar-button-text-hover: #005ea4;
  --tv-color-toolbar-button-text-active: #005ea4;
  --tv-color-toolbar-button-text-active-hover: #005ea4;
  --tv-color-item-active-text: #005ea4;
  --tv-color-toolbar-toggle-button-background-active: #3da8f5;
  --tv-color-toolbar-toggle-button-background-active-hover: #3da8f5; */
}
