.FeesSummary {
  padding-bottom: 5rem;
}

.FeesSummary .App-card {
  margin: auto;
  margin-top: 3rem;
  width: 30rem;
  padding: 1.8rem;
}

.FeesSummary .App-card-title {
  font-size: 1.6rem;
}

.FeesSummary .App-card-divider {
  margin: 1.5rem -1.8rem;
}

.FeesSummary .App-card-row {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}
